.img {
  width: 250px;
  margin: auto;
  margin-top: 100px;
}

.text {
  margin-top: var(--spacing-large);
  color: var(--color-white);
  font-size: var(--font-size-subheader);
  text-align: center;
  text-shadow: var(--text-shadow-blue);
}